<!DOCTYPE html>
<html>

<head>
    <title>NAVEEN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/guestbook.css" />
   
</head>

<body >
    <div id="mySidenav" class="sidenav"> 
            <a href="/" id="Nav">Naveen</a>
        <a href="/about" id="Home">Home</a>
        <a href="/Mychoice" id="Mychoice">Mychoice</a>
        <a href="/contact" id="contact">Contact</a>
        <a href="/GuestBook" id="GuestBook">GUESTBOOK</a>
      </div>
        
    <h1>
        Naveen's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
</body>