<% include header %>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
        <% console.log("Displaying:"+entry.title) %>
        <% console.log("Displaying:"+entry.content) %>
        <% console.log("Displaying:"+entry.published) %>
        <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading n">
                <div class="text-muted pull-right">
                    <%= entry.published %>
                    </div>
                    
                        <%= entry.title %>
                    
                    </div>
                    <div class="panel-body n">
                        <%= entry.content %>
                    </div>
                </div>
            </div>
        <% }) %>
            <% } else { %>
                <div class="container">
                        <div calss="col-md-8">
                <span class="c">
                No entries!</span> <a href="/new-entry" class="u">Add one!</a>
            </div></div>
                <% } %>
                    <% include footer %>