body.c5 
{
    background-image: url(ff.jpg);
    background-size: 100%; 
    }
    #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
.fon{
    color:red;
    text-align: center;
}
#mySidenav a:hover {
    left: 0;
}

#Home {
    top: 80px;
    background-color: #2095F3;
}

#Mychoice {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555;
}
#Nav{
	top: 20px;
    background-color: #4CAF50;
}
#GuestBook{
	top: 260px;
    background-color: rgb(119, 76, 175);
}
.mu{
    color:#050404;
    font-size: 20px;
}
.b{
    text-align: center;
    color:#FDF8F8;
    font-size: 20px;
}

.displayText {
    display: none;
  }
.k
{
    text-align: center;
}